{% extends 'base.html.twig' %}

{% block body %}
    <h1>Producto</h1>

    <table>
        <tbody>
            <tr>
                <th>Idproducto</th>
                <td>{{ producto.idproducto }}</td>
            </tr>
            <tr>
                <th>Productonombre</th>
                <td>{{ producto.productonombre }}</td>
            </tr>
            <tr>
                <th>Productoprecio</th>
                <td>{{ producto.productoprecio }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('producto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('producto_edit', { 'idproducto': producto.idproducto }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
